<!doctype html>
<html data-ng-app="template-repeat-demo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-template-repeat by andytompkins</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
  </head>
  <body data-ng-controller="DemoController">
    <div class="wrapper">
      <header>
        <h1>Angular-template-repeat</h1>
        <p>ngRepeat like directive for large view-only datasets</p>

        <p class="view"><a href="https://github.com/andytompkins/angular-template-repeat">View the Project on GitHub <small>andytompkins/angular-template-repeat</small></a></p>


        <ul>
          <li><a href="https://github.com/andytompkins/angular-template-repeat/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/andytompkins/angular-template-repeat/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/andytompkins/angular-template-repeat">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
	  
	  <section>
		  <span>Cache clear time: {{cacheClearTime}} ms</span><br>
		  <span>Cache build time: {{cacheBuildTime}} ms</span><br>
		  <span>Repeat loop time: {{repeatLoopTime}} ms</span><br>
	  </section>
	  
      <section>
		  <button data-ng-click="setRows(10)">10 rows</button>
		  <button data-ng-click="setRows(100)">100 rows</button>
		  <button data-ng-click="setRows(1000)">1000 rows</button>
		  <table>
			  <thead>
			  	<tr>
					<th>Col1</th>
					<th>Col2</th>
					<th>Col3</th>
				</tr>
			  </thead>
			  <tbody data-template-repeat="item in items" data-template="itemRow.html" data-cache-rows="allItems" data-cache-key="id">
				  
			  </tbody>
		  </table>
      </section>
	  
    
	<script type="text/ng-template" id="itemRow.html">
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
	</script>
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
	<script type="text/javascript" src="angular-measure.js"></script>
	<script type="text/javascript" src="angular-template-repeat.js"></script>
	<script type="text/javascript" src="app.js"></script>
  </body>
</html>